.customer_form{

	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-left: 260px;
	padding-bottom: 60px;
	background: white;
}


.customer_form h2{

	color: #052127;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	padding-left: 280px;
	padding-top: 30px;
	padding-bottom: 50px;
	
}


.customer_table{
	
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 60px;
	margin-bottom: 50px;
	background: white;
	
}

.customer_table h2{

	color: #052127;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	
}

.table-nonfluid{
  
 width: auto ;
 text-align: center;
    
}

table thead{
  font-weight: 500;
  font-family: Trebuchet MS, sans-serif;
  background-color: #00c5cd;
}

td:hover{
  background-color:#f5f5f5;
}

td a:hover{

	text-decoration: none;
	color: #146982;
}

footer{

	height: 250px;
	background-color: #81d8d0;
	margin-bottom: 30px;

}

address{
	padding-left: 60px;
	padding-top: 50px;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	font-size: 20px;

}

 #copyright {

 	text-align: center;

}


