.product_form{

	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-left: 260px;
	padding-bottom: 60px;
	background: white;

}

.product_form h2{

	text-align: center;
	color: #052127;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	padding-bottom: 30px;
	padding-right: 350px;
}

label{
	padding-top: 20px;
}

#add-button{
	margin-right: 10px;
	margin-left: 200px;
	margin-top: 20px;
}

#product_table{

	padding-left: 180px;
	padding-bottom: 60px;
	margin-bottom: 50px;
	background: white;
	
}	


#product_table h2{

	color: #052127;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-left: 320px;	
}

.table-nonfluid{
  
 table-layout: fixed;
  text-align: center;
    
}

td a:hover{
	text-decoration: none;
	color: #006f70;
}

table thead{
  font-weight: 500;
  font-family: Trebuchet MS, sans-serif;
  background-color: #00c5cd;
}


footer{

	height: 250px;
	background-color: #81d8d0;
	margin-bottom: 30px;

}

address{
	padding-left: 60px;
	padding-top: 60px;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	font-size: 20px;

}

 #copyright {

 	text-align: center;

}

#image input{

	display: inline;
}

