.sales{
	margin-top:80px;
	margin-bottom: 60px;
	padding-top: 40px;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom: 80px;
	background: white;
}

#sale_head{

	color: #052127;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	padding-bottom: 30px;
	text-align: center;
	
}

.table-nonfluid{
  
  width: auto ;
  text-align: center;

}

table thead{
  font-weight: 500;
  font-family: Trebuchet MS, sans-serif;
  background-color: #00c5cd;
  text-align: center;
}

table tbody td{
	font-family: Trebuchet MS, sans-serif;
}

tbody tr td a{
	margin-left: 45px;

}


footer{

	height: 250px;
	background-color: #81d8d0;
	margin-bottom: 30px;

}

address{
	padding-left: 60px;
	padding-top: 60px;
	font-family:  Lucida Fax serif;
	font-variant: small-caps;
	font-size: 20px;

}

 #copyright {

 	text-align: center;

}